<div class="container" id="info">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <img src="https://www.dc-nordoberpfalz.de/assets/logos/dcn.svg" class="img-title">
    <h1>Digital Craftsmanship Nordoberpfalz</h1>
    <h2>Worum es bei uns geht</h2>
    <p>
      Die nördliche Oberpfalz steht für Offenheit, Tradition und professionelles Handwerk, insbesondere auch für
      modernste Softwareentwicklung und Digitalisierung. Viele regionale Unternehmen sind in der Branche mit noch mehr
      engagierten Menschen aktiv.
    </p>
    <p>
      Das Ziel der "Digital Craftsmanship Nordoberpfalz"-Community ist es diese Menschen in der Region
      Firmenübergreifend zu vernetzen. Wir wollen Technologie-unabhängig unseren Horizont erweitern und wechselseitig
      von unserer Erfahrung & Expertise lernen. Gemeinsam wollen wir Meister der Software-Manufaktur sein, um in unserem
      individuellen Berufsalltag das bestmögliche zu erreichen.
    </p>
    <p>
      Wir bieten regelmäßige Vortrags- und Diskussionsabende zu aktuellen oder gewünschten Themen rund um professionelle
      Softwareentwicklung. Aus aktuellem Anlass finden die Meetups nicht als Präsenzveranstaltung, sondern Remote via
      Zoom statt.
      Die Termine werden über die Plattform
      <a class="meetup-link" href="https://www.meetup.com/de-DE/digital-craftsmanship-nordoberpfalz" target="_blank">Meet up</a>
      eingestellt.
    </p>
    <p>
      Die Teilnahme ist kostenlos. Die Community lebt von der Aktivität seiner Mitglieder.
    </p>
    <p>
      -- offiziell unterstützt von IHK Regensburg für Oberpfalz / Kelheim
    </p>
    <img src="https://www.dc-nordoberpfalz.de/assets/logos/ihk.jpg" height="50" />
  </div>
</div>

<div class="container" id="team">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h2>Unser Team</h2>
    <div class="row">
      <div class="col-sm team-member mt-3">
        <img src="https://www.dc-nordoberpfalz.de/assets/avatars/florian_rieder.jpg" class="rounded" height="200"><br />
        <p class="team-member-top">
          Florian Rieder<br />
          IHK Regensburg für Oberpfalz / Kelheim
        </p>
      </div>
      <div class="col-sm team-member mt-3">
        <img src="https://www.dc-nordoberpfalz.de/assets/avatars/richard_fichtner.jpg" class="rounded" height="200"><br />
        <p class="team-member-top">
          Richard Fichtner<br />
          XDEV Software GmbH
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm team-member mt-3">
        <img src="https://www.dc-nordoberpfalz.de/assets/avatars/roland_koenig.jpg" class="rounded" height="200"><br />
        <p class="team-member-top">
          Roland König<br />
          IGZ Ingenieurgesellschaft mbH
        </p>
      </div>
      <div class="col-sm team-member mt-3">
        <img src="https://www.dc-nordoberpfalz.de/assets/avatars/thomas_schattan.jpg" class="rounded" height="200"><br />
        <p class="team-member-top">
          Thomas Schattan<br />
          Speed4Trade GmbH
        </p>
      </div>
    </div>
  </div>
</div>

<% @events.each do |event| %>
  <div class="event">
    <h3><%= link_to event.title, event.meetup_url %></h3>
    <h4><%= event.date.strftime('%d.%m.%Y') %></h4>
  </div>
<% end %>>
