<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <title>Digital Craftsmanship Nordoberpfalz</title>
  <link rel="apple-touch-icon" sizes="57x57" href="https://www.dc-nordoberpfalz.de/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://www.dc-nordoberpfalz.de/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://www.dc-nordoberpfalz.de/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://www.dc-nordoberpfalz.de/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://www.dc-nordoberpfalz.de/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://www.dc-nordoberpfalz.de/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://www.dc-nordoberpfalz.de/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://www.dc-nordoberpfalz.de/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.dc-nordoberpfalz.de/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://www.dc-nordoberpfalz.de/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.dc-nordoberpfalz.de/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://www.dc-nordoberpfalz.de/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.dc-nordoberpfalz.de/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="https://www.dc-nordoberpfalz.de/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://www.dc-nordoberpfalz.de/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link href="https://www.dc-nordoberpfalz.de/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://www.dc-nordoberpfalz.de/css/custom.css" rel="stylesheet" />
  <script src="https://www.dc-nordoberpfalz.de/js/jquery-3.5.1.min.js"></script>
  <script src="https://www.dc-nordoberpfalz.de/js/bootstrap.bundle.min.js"></script>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%#= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
<nav class="navbar navbar-light bg-light sticky-top">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#info">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#team">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link meetup-link" href="https://www.meetup.com/de-DE/digital-craftsmanship-nordoberpfalz/">
          Meetup
        </a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link disabled" href="#" aria-disabled="true">© 2021 Digital Craftsmanship Nordoberpfalz</a>
      </li>
    </ul>

    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="impressum.html">Impressum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="datenschutz.html">Datenschutz</a>
      </li>
    </ul>
  </nav>
</footer>
</body>
</html>
